body {
  background-color: #f7f2ec;
  overflow-x: hidden;
}
section {
  height: 100vh;
  margin: 0;
}
.firstname {
  top: 42%;
  position: absolute;
  width: 100%;
  text-align: center;
  color: #f7f2ec;
}
h1 {
  font-family: "InterSemiBold";
  font-size: 128px;
}
h2 {
  font-family: "InterSemiBold";
  font-size: 24px;
  line-height: 121%;
}
h3 {
  font-family: "InterSemiBold";
  font-size: 64px;
  line-height: 95%;
}
h4 {
  font-family: "InterSemiBold";
  font-size: 48px;
  line-height: 121%;
}
p {
  font-family: "InterRegular";
  font-size: 24px;
  line-height: 140%;
  color: #f7f2ec;
}
.menuleft {
  display: flex;
  left: 4%;
  top: 4%;
  position: absolute;
}
.menuright {
  display: flex;
  right: 6%;
  top: 4%;
  position: absolute;
}

.promo {
  padding-right: 20%;
  color: #231f1c;
}
.about {
  color: #f96247;
  width: 9em;
}
.vk {
  color: #231f1c;
  padding-right: 15%;
}
.tg {
  color: #231f1c;
}
.firstfigure {
  position: absolute;
  top: 15%;
}
.firstfigureimg {
  width: 100vw;
}
.firsttext {
  color: #231f1c;
}
.redtext {
  color: #f96247;
}
.abouttext {
  padding-top: 15%;
  margin-left: 4%;
  width: 555px;
}
.firstimg {
  width: 100%;
  text-align: right;
  margin-top: -30%;
  position: absolute;
}
.secondfigure {
  margin-top: -10%;
}
.secondfigureimg {
  width: 100vw;
}
.texttriple {
  margin-top: -40%;
  display: flex;
  justify-content: space-around;
}
.textread {
  color: #f7f2ec;
  text-align: center;
}
.thirdfigure {
  margin-top: 18%;
  padding-top: 10%;
  text-align: center;
}
.alarmtext {
  text-align: center;
  position: relative;
  margin-top: -26%;
  margin-left: 0%;
  color: #f7f2ec;
  z-index: 1;
}
.alarmsmall {
  margin-top: 2%;
}
.thirdfigureimg {
  width: 74vw;
}
.allfoot {
  margin-top: 17%;
  position: relative;
  width: 100%;
}

.forthfigureimg {
  position: absolute;
  width: 3%;
  top: 75%;
  left: 3%;
}
.footername {
  position: absolute;
  right: 3%;
  top: 80%;
  text-align: right;
  color: #f96247;
}
#email {
  color: #f96247;
  padding: 5px 25px;
  margin-top: 2%;
  width: 26vw;
  height: 5vh;
  font-size: 16px;
  border: none;
  border-radius: 66px;
  background-color: #f7f2ec;
  cursor: pointer;
  text-decoration: none;
}
#emailb {
  margin-left: -9%;
  color: #f96247;
  font-size: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
}
