@font-face {
  font-family: "InterRegular";
  src: url("../font/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "InterSemiBold";
  src: url("../font/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "InterMedium";
  src: url("../font/Inter-Medium.ttf") format("truetype");
}
